<%- include("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <div>
                <p><a class="btn btn-primary btn-large" href="/admin/schools">Manage Schools</a></p>
            </div>
            <div>
                <p><a class="btn btn-primary btn-large" href="/admin/resources">Manage Documents</a></p>
            </div>
        </div>
    </header>

<%- include("../partials/footer") %>