<%- include("./partials/header") %>

<div class="container about">
    <div class="md-col-12">
        <h2 class="title">ABOUT US</h2>
        <hr>
        <p class="body">In response to all of the school shootings and stabbings, also spending many years supporting youth and youth organization, we have come to the realization that it is not just the guns and the knives that are the problem. The real challenge is the state of our youth! Homicide and suicide plague our youth! Just as we are encouraging young people to use innovation to solve social problems, we have launched the CASE App. CASE stands for Conﬂict Anger and, Self-Esteem. This is a way for young people to self-identify if any of these are a challenge for them. We are hoping through this app, to provide data to empower youth to make a change if this is an area of concern.</p>
        <p class="foot">This is a product of nywusa and OMI</p>
    </div>
</div>

<%- include("./partials/footer") %>

