<%- include("partials/header") %>



<div class="container" id="registerForm">
    <h3>Welcome to Register!</h3>
    <form action="/register" method="POST">
        <div class="form-group">
            <label for="emailInput">Email Address</label>
            <input type="email" name="username" class="form-control" id="emailInput" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include("partials/footer") %>