<%- include("./partials/header") %>

<div class="container about">
    <div class="md-col-12">
        <h2 class="title">Thank you for submitting your survey!</h2>
        <hr>

    </div>
</div>

<%- include("./partials/footer") %>