/* about page styling*/
.about {
      border: 20px solid #bdc3c7;
      font-family: 'Source Sans Pro', sans-serif;
      padding: 20px;
      margin: 20px auto;
}

.body {
    font-size: 1.5em;
}

.foot {
    color: darkgray;
    font-style: italic;
}

/* resource page styling */
table {
    margin: auto;
    width: 80%;
}

th {
    text-align: center;
    border: 1px solid black;
}

td {
    text-align: center;
    border: 1px solid black;
}

/* landing page styling */
#landing-navbar {
    margin-bottom: 0;
}

h1 .title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.landing {
    text-align: center;
    height: 1000px;
}

.link {
    margin: 20px auto;
    font-size: 20px;
    max-width: 600px;
    text-align: center;
}




